*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    --font-poppins:'Poppins', sans-serif;
    --font-Roboto:'Roboto', sans-serif;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-base) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  border: 1px solid green;
  -webkit-text-fill-color: green;
  box-shadow: 0 0 0px 1000px var(--form-background) inset;
  transition: background-color 5000s ease-in-out 0s;
}


@keyframes opacityDelay {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes shake {
    0%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(2px);
    }
}

body{
    position: relative;
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    color: white;
    font-family: var(--font-Roboto);
    z-index: 1;
}

.bg .close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 300px;
    top: 250px;
    background-color: crimson;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.bg .close .lineclose {
    height: 25px;
    width: 2px;
    border-radius: 50%;
    background-color: white;
    transform: rotate(50deg);
}

.bg .close .lineclose:nth-child(2){
    transform: rotate(-50deg);
}

.bg .boxAlert {
    border: 1px solid var(--primary-color);
    padding: 25px;
    border-radius: 8px;
    flex-direction: column;
    text-align: center;
    background-color: var(--background);
}

.bg .boxAlert p,
.bg .boxAlert h2{
    font-size: 1.5rem;
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.left header {
    position: absolute;
    top: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

/* button forms*/

.left #CreateAccount button,
.left .ForgetPass button,
.left .form button {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin: 16px 0;
    cursor: pointer;
    font-family: var(--font-Roboto);
    font-size: 1rem;
    letter-spacing: 2px;
}

.left #CreateAccount button:hover,
.left .ForgetPass button:hover,
.left .form button:hover{
    background-color: #ffc532e3;
    color: white;
    transition: background-color .35s ease;
}

/* border input */
.left .input-border {
    display: flex;
    align-items: center;
    padding: 7px;
    border: 1px solid var(--text-title);
    border-radius: 4px;
    position: relative;
}

.left .input-border small{
    opacity: 0;
    position: absolute;
    top: 35px;
    left: 0;
    font-family: var(--font-poppins);

}

.left .input-border small.show{
    color: crimson;
    opacity: 1;
}

.left .input-border.Sucess{
    border: 1px solid var(--primary-color);
    transition: border .35s ease;
}

.left .input-border.error{
    border: 1px solid crimson;
    transition: border .35s ease;
    animation: shake .25s ease;
}

.left .input-border input{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-base);
    padding-left: 5px;
}

/* Form login */

.left .form {
    text-align: center;
    background-color: var(--form-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(41, 39, 39, 0.664);
    transition: all 1s ease;
    display: block;
}

/* remove o formulario principal */
.left .form.RemoveActive{
    transform: translateX(-700px);
    animation: opacityDelay 1s ease;
    transition: all 1s ease;
}

.left .form form > p {
    font-family: var(--font-poppins);
    color: var(--primary-color);
}

.left .form form > p span {
    font-weight: 700;
}

.left .form form > p span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.left .form .title{
    display: flex;
    flex-direction: column;
    color: var(--text-base);
    align-items: center;
}

.left .form .title h2{
    font-family: var(--font-poppins);
    font-size: .8rem;
    margin: 10px 0;
}

.left .form .title .content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Roboto);
}

.left .form .title .content-title h1 {
    margin: 10px 0px;
    width: 100%;
    margin-left: 5px;
}

.left .form form .inputsenha,
.left .form form .inputemail {
    color: var(--text-base);
    font-family: var(--font-poppins);
    margin: 25px 0;
    text-align: left;
} 

.left .form form .inputemail{
    margin-top: 0;
}

.left .form form .inputsenha label,
.left .form form .inputemail label {
    font-size: 1rem;
}

.left #CreateAccount .GroupPutSenhac .input-border img:nth-child(2),
.left #CreateAccount .GroupPutSenha .input-border img:nth-child(2),
.left #CreateAccount .GroupPutEmail .input-border img:nth-child(2),
.left .ForgetPass .forget .input-border img:nth-child(2),
.left .form form .inputsenha .input-border img:nth-child(2),
.left .form form .inputemail .input-border img:nth-child(2){
    display: none;
}

.left #CreateAccount .GroupPutSenhac .input-border img:nth-child(2).ShowLockC,
.left #CreateAccount .GroupPutSenha .input-border img:nth-child(2).ShowLockF,
.left #CreateAccount .GroupPutEmail .input-border img:nth-child(2).ShowEmailC,
.left .ForgetPass .forget .input-border img:nth-child(2).ShowFEmail,
.left .form form .inputsenha .input-border img:nth-child(2).ShowLock,
.left .form form .inputemail .input-border img:nth-child(2).ShowEmail{
    display: block;
}

.left #CreateAccount .GroupPutSenha .line,
.left #CreateAccount .GroupPutSenhac .line,
.left .form form .inputsenha .input-border .line{
    position: absolute;
    right: 12px;
    top: 12px;
    width: 10px;
    height: 0px;
    transition: height .55s ease;
    border-radius: 50%;
    background-color: var(--form-background);
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.left #CreateAccount .GroupPutSenha .line.CloseEye,
.left #CreateAccount .GroupPutSenhac .line.CloseEye,
.left .form form .inputsenha .input-border .line.CloseEye{
    height: 10px;
    transition: height .35s ease;
    opacity: 1;
    visibility: visible;
}
    
/* check  */

.left .form .check-Forget {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.left .form .check-Forget p span{
    font-family: var(--font-Roboto);
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}

.left .form .check-Forget p:hover span{
    text-decoration: underline;
    cursor: pointer;
}

.left .form .check-Forget .input-check{
    color: var(--text-base);
    font-size: 1.1rem;
    margin: 10px 0px;
}

/* input check */

.left .form .check-Forget .input-check .checkmark{
    position: absolute;
    top: 13px;
    left: 0px;
    width: 13px;
    height: 13px;
    background-color: #ffc632;
    opacity: 0;
    border-radius: 3px;
    visibility: hidden;
}

.left .form .check-Forget .input-check .checkmark::after{
    position: absolute;
    width: 15px;
    left: -2px;
    top: -3px;
    height: 15px;
    content: " ";
    color: white;
    background-image: url(/images/check.svg);
    opacity: 0;
}

.left .form .check-Forget .input-check input:checked ~ .checkmark{
    opacity: 1;
    visibility: visible;
}

.left .form .check-Forget .input-check input:checked ~ .checkmark::after{
    opacity: 1;
}

/* FORM FORGET  */

.left .ForgetPass{
    position: absolute;
    height: 250px;
    background-color: var(--form-background);    
    border-radius: 4px;
    padding: 20px;
    color: var(--text-base);
    transform: translateX(700px);
    margin: 0px 20px;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    box-shadow: 0px 0px 2px 0px var(--text-base);
    transition: all 1s ease;
}

/* mostra o formulario de recuperação de email*/
.left .ForgetPass.ShowForget{
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
    transition: transform 1s ease;
}

.left #CreateAccount p,
.left .ForgetPass p{
    font-size: .8rem;
    font-family: var(--font-poppins);
    color: #ffc632;
    margin-top: 10px ;
    text-align: center;
}

.left #CreateAccount p:hover,
.left .ForgetPass p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.left .ForgetPass h2{
    margin: 20px 0;
    font-family: var(--font-poppins);
}

.left .ForgetPass .forget {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: var(--font-poppins);
    padding: 10px 0;
}

/* CREATE ACCOUNT */

.left #CreateAccount {
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: left;
    transform: translateX(-800px);
    justify-content: center;
    box-shadow: 0px 0px 2px 0px var(--text-base);
    padding: 5px;
    color: var(--text-base);
    border-radius: 4px;
    font-family: var(--font-poppins);
    background-color: var(--form-background);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}

/* Mostra o Form de Criação de Conta */
.left #CreateAccount.ShowCreate{
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
    transition: transform 1s ease;
}

.left #CreateAccount h2{
    font-family: var(--font-Roboto);
    font-weight: 700;
    margin: 5px 0;
    text-align: center!important;
}

.left #CreateAccount .GroupNames{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left #CreateAccount .GroupNames .GroupPut{
    width: 100%;
}

.left #CreateAccount .GroupPutSenhac,
.left #CreateAccount .GroupPutSenha,
.left #CreateAccount .GroupPutEmail,
.left #CreateAccount .GroupPut{
    margin: 20px 10px;
}


/* LADO DIREITO */

.right {
    background-image: url(/Login\ Form\ CSS/images/side-image-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
